body {
    background-color: #0c0c0c;
    color: #fff;
}
.card {
    background-color: #1a1a1a;
    border: none;
}
.form-control {
    background-color: #1a1a1a;
    border: 1px solid #fff;
    color: #fff;
}
.form-control:focus {
    background-color: #1a1a1a;
    border: 1px solid #fff;
    color: #fff;
}
.btn-primary {
    background-color: #ff7701;
    border: 1px solid #ff7701;
    color: #fff;
}
.btn-primary:hover {
    background-color: #ff7701;
    border: 1px solid #ff7701;
    color: #fff;
}
.fs-12{
    font-size: 12px;
}
.fs-14{
    font-size: 14px;
}
.dropdown-menu{
    background-color: #1a1b1d;
    color: #fff;
    min-width: 200px;

}
.dropdown-menu .dropdown-item{
    background-color: transparent;
    color: #fff;
}
.dropdown-menu .dropdown-item.active{
    background-color: #2a2a2e;
    color: #fff;
}


